<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_quiver.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{124,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,450}}</string>
                <key>sourceSize</key>
                <string>{124,450}</string>
            </dict>
            <key>btn_play_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{173,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,89}}</string>
                <key>sourceSize</key>
                <string>{173,89}</string>
            </dict>
            <key>btn_play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{173,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,89}}</string>
                <key>sourceSize</key>
                <string>{173,89}</string>
            </dict>
            <key>btn_play_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{173,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,89}}</string>
                <key>sourceSize</key>
                <string>{173,89}</string>
            </dict>
            <key>btn_replay_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1100},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>btn_replay_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1008},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>btn_replay_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,916},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>f_quiver.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{125,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,450}}</string>
                <key>sourceSize</key>
                <string>{125,450}</string>
            </dict>
            <key>gater_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,300},{385,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,207}}</string>
                <key>sourceSize</key>
                <string>{385,207}</string>
            </dict>
            <key>gater_eye_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,204},{7,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>gater_eye_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,213},{6,6}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>gater_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,1049},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>percy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{283,272}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{283,272}}</string>
                <key>sourceSize</key>
                <string>{347,272}</string>
            </dict>
            <key>percy_eye_pupil.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,220},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>percy_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,639},{286,179}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{286,179}}</string>
                <key>sourceSize</key>
                <string>{324,179}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,255},{300,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,158}}</string>
                <key>sourceSize</key>
                <string>{300,158}</string>
            </dict>
            <key>scene_deer_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{286,180}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{286,180}}</string>
                <key>sourceSize</key>
                <string>{294,188}</string>
            </dict>
            <key>scene_deer_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{290,188}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{290,188}}</string>
                <key>sourceSize</key>
                <string>{300,190}</string>
            </dict>
            <key>scene_footprint_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1224},{90,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,108}}</string>
                <key>sourceSize</key>
                <string>{90,108}</string>
            </dict>
            <key>scene_footprint_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,939},{120,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{120,135}}</string>
                <key>sourceSize</key>
                <string>{126,143}</string>
            </dict>
            <key>scene_frog_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1192},{139,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{139,80}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>scene_frog_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,967},{109,80}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{109,80}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>scene_hay_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,913},{276,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,138}}</string>
                <key>sourceSize</key>
                <string>{280,142}</string>
            </dict>
            <key>scene_hay_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,820},{278,140}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,140}}</string>
                <key>sourceSize</key>
                <string>{280,142}</string>
            </dict>
            <key>scene_hay_tapped.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,773},{276,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,138}}</string>
                <key>sourceSize</key>
                <string>{280,142}</string>
            </dict>
            <key>scene_house_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,748},{166,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,158}}</string>
                <key>sourceSize</key>
                <string>{166,158}</string>
            </dict>
            <key>scene_house_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,612},{167,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,156}}</string>
                <key>sourceSize</key>
                <string>{167,156}</string>
            </dict>
            <key>scene_house_tapped.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,454},{167,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,156}}</string>
                <key>sourceSize</key>
                <string>{167,156}</string>
            </dict>
            <key>scene_light_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,454},{321,183}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{321,183}}</string>
                <key>sourceSize</key>
                <string>{351,221}</string>
            </dict>
            <key>scene_light_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,200}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{480,200}}</string>
                <key>sourceSize</key>
                <string>{520,218}</string>
            </dict>
            <key>scene_light_tapped.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,734},{314,183}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{314,183}}</string>
                <key>sourceSize</key>
                <string>{348,221}</string>
            </dict>
            <key>scene_moon_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,770},{195,156}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{195,156}}</string>
                <key>sourceSize</key>
                <string>{217,164}</string>
            </dict>
            <key>scene_moon_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,919},{312,260}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{312,260}}</string>
                <key>sourceSize</key>
                <string>{326,266}</string>
            </dict>
            <key>scene_moon_tapped.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,509},{318,262}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{318,262}}</string>
                <key>sourceSize</key>
                <string>{326,266}</string>
            </dict>
            <key>scene_owl_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{248,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,251}}</string>
                <key>sourceSize</key>
                <string>{248,251}</string>
            </dict>
            <key>scene_owl_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,962},{255,255}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,255}}</string>
                <key>sourceSize</key>
                <string>{255,273}</string>
            </dict>
            <key>scene_rabbit_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,885},{139,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{139,111}}</string>
                <key>sourceSize</key>
                <string>{141,111}</string>
            </dict>
            <key>scene_rabbit_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1104},{108,118}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{108,118}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>scene_squirrel_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,458},{158,288}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,288}}</string>
                <key>sourceSize</key>
                <string>{160,288}</string>
            </dict>
            <key>scene_squirrel_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,345},{294,321}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{294,321}}</string>
                <key>sourceSize</key>
                <string>{308,339}</string>
            </dict>
            <key>scene_tree_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,641},{296,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,317}}</string>
                <key>sourceSize</key>
                <string>{296,317}</string>
            </dict>
            <key>scene_tree_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,415},{296,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,317}}</string>
                <key>sourceSize</key>
                <string>{296,317}</string>
            </dict>
            <key>scene_tree_tapped.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,928},{166,181}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{166,181}}</string>
                <key>sourceSize</key>
                <string>{186,201}</string>
            </dict>
            <key>scene_watertank_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,128},{170,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,393}}</string>
                <key>sourceSize</key>
                <string>{170,393}</string>
            </dict>
            <key>scene_watertank_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,174},{169,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,393}}</string>
                <key>sourceSize</key>
                <string>{169,393}</string>
            </dict>
            <key>scene_watertank_tapped.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,2},{170,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,394}}</string>
                <key>sourceSize</key>
                <string>{170,394}</string>
            </dict>
            <key>sf_quiver.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{125,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,450}}</string>
                <key>sourceSize</key>
                <string>{125,450}</string>
            </dict>
            <key>side_deer_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,939},{103,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{103,130}}</string>
                <key>sourceSize</key>
                <string>{107,134}</string>
            </dict>
            <key>side_footprint_unlocked01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,654},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,69}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>side_footprint_unlocked02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1134},{66,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{66,66}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>side_footprint_unlocked03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,583},{68,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,69}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>side_footprint_unlocked04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,509},{68,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{68,72}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>side_footprint_unlocked05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,694},{65,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{65,71}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>side_footprint_unlocked06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,761},{67,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{67,70}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>side_footprint_unlocked07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1134},{65,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{65,68}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>side_footprint_unlocked08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,830},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{65,69}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>side_footprint_unlocked09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,897},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>side_footprint_unlocked10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,725},{68,68}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,68}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>side_frog_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,1044},{100,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,65}}</string>
                <key>sourceSize</key>
                <string>{106,71}</string>
            </dict>
            <key>side_hay_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,345},{85,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{85,75}}</string>
                <key>sourceSize</key>
                <string>{99,85}</string>
            </dict>
            <key>side_house_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,602},{90,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{90,72}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>side_light_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1111},{81,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{81,66}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>side_moon_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,517},{83,75}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{83,75}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>side_owl_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,795},{88,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,117}}</string>
                <key>sourceSize</key>
                <string>{92,121}</string>
            </dict>
            <key>side_rabbit_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,1061},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,91}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>side_squirrel_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1026},{61,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,110}}</string>
                <key>sourceSize</key>
                <string>{65,112}</string>
            </dict>
            <key>side_tree_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,432},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{75,83}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>side_watertank_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1049},{88,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{88,83}}</string>
                <key>sourceSize</key>
                <string>{98,95}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,204},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>tree_brushes.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{463,450}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,450}}</string>
                <key>sourceSize</key>
                <string>{503,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8fc28d78aec4fe3ab352a3ceab7f094$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
